hr
{
    background-color: #000000;
    border: 0 none;
    height: .5px;
}

.relation-e, .relation-o
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    cursor: pointer;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    padding: 20px;
    padding-top: 30px;

}

.quote-e, .quote-o
{
    cursor: pointer;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    padding: 20px;
    padding-top: 30px;

}
.author-e, .author-o
{
    margin: 0 auto;
    cursor: pointer;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    padding: 20px;
    padding-top: 30px;
    text-align: center;
    max-width: 75%;
}

.quote-e, .author-e, .relation-e
{
    background-color: #e0dfce;
}

.quote-o, .author-o, .relation-o
{
    background-color: #e8e3d5;
}

.author-o:hover, .author-e:hover, .quote-o:hover, .quote-e:hover, .relation-o:hover, .relation-e:hover
{
    background: #e5d9c7
}

body
{
    overflow-y: scroll;
    line-height: 1.6;
    font-size: 22px;
    font-family: Georgia, serif;
    background-color: #f9f0d9;
}

.body
{
    white-space: wrap;
    text-overflow: ellipses;
    overflow: hidden;
    margin: 0 auto;
    max-width: 90%;
}

.footer
{
    border-bottom-style: solid;
    border-bottom-color: #000000;
    border-top-style: solid;
    border-top-color: #000000;
    border-top-width: 1px;
    border-bottom-width: 1px;
    padding: 10px;
    background-color: #b9ba9a;
    text-align: center;
}

.updateButton, .header
{
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.updateButton
{
    background: #e5ddd0;
}

.header
{
    border-width: 0px;
    padding: 5px;
    font-size: 25px;
}

.updateButton:hover
{
    background: #e5d9c7
}

.navbar-fixed-top
{
    background: #b9ba9a;
    border-color: #000000;
}

.navbar-header .navbar-brand
{
    color: #000000;
    font-size: 20px;
}

.navbar-header .navbar-brand:hover
{
    cursor: pointer;
}

.navbar-form
{
    margin-right: 5px;
}

.form-control
{
    color: black;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    background-color: #e0dfce;
}

.btn-default
{
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    background-color: #e8e3d5;
}

.right
{
    text-align: left;
}

.navbar
{
    border-bottom-color: #000000;
    min-height: 50px;
    margin-bottom: 20px;
    border-bottom: 1px solid;
}

.titleimg, .loading
{
    width: 32px;
    height: 32px;
    margin-top: 7px;
    margin-left: 12px;
}

.titleimg, .updateButton
{
    cursor: pointer;
}
