hr
{
    background-color: #000000;
    border: 0 none;
    height: .5px;
}

body
{
    font-size: 20px;
    font-family: Georgia, serif;
    background-color: #f9f0d9;
}

.body
{
    margin: 0 auto;
    max-width: 800px;
}

.box-w
{
    border-style: solid;
    border-color: #cccccc;
    border-width: 0px;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 15px;
    text-align: left;
    background-color: #fefefe;
    color: #000000;
}

.title
{
    border-style: solid;
    border-color: #cccccc;
    border-width: 1.5px;
    padding: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #fefefes;
    text-align: center;
}

.titletxt
{
    font-size: 40px;
    margin-bottom: 10px;
}

.subtxt
{
    font-size: 20px;
}

.footer
{
    border-style: solid;
    border-color: #cccccc;
    border-width: 1.5px;
    padding: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    background-color: #fefefes;
}

.box
{
    font-weight: bold;
    border-style: solid;
    border-color: #cccccc;
    border-width: .5px;
    background-color: #f2f2f2;
    padding-left: 10px;
    margin-bottom: 10px;
}

.desc
{

    padding: 10px;
    margin-bottom: 10px;
}

.color
{
    color: #14489b;
    font-weight: bold;
}
